<div style="width: 100%;height: 550px; margin-top: 7%">
    <div style="float:left; width: 50%; background-color: white; height: 550px;">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input id="nombre" type="text" class="form-control" required value="" placeholder="Write a Name">
        </div>
        <button onclick="add_element();" type="submit" id="boton1" class="btn btn-primary btn-lg btn-block">Insert Name</button>
    </div>
    <div style="float: right; background-color: white; height: 550px; width: 50%;">
        <div style="margin-right: 5%; margin-left:5%">
            <h3 style="text-align:center;">List Of Names</h3>
            <br/>
            {{#if array.isPending}}
                Loading...
            {{else}}
                <div id="slideContainer"></div>
            {{/if}}
        </div>
    </div>
</div>
<script type="application/javascript">

    localStorage.setItem('flagEnter',1);
    this.charge_elements();

    function charge_elements(){ //Function used to display the records of people in the database
        get_elements().then(response => { //we call the function that obtains the data from the database
            console.log(response);
            var i = 1;
            var str = "<div>"
            response.forEach(function(person) { //here we write dynamically in the view the users that are in the database, to allow their modification
                str += "<form id='modify_Person"+i+"' method='PUT' class='form-inline'><div class='form-group mb-2'><label for='staticEmail2' class='sr-only'>Email</label><input type='text' readonly class='form-control-plaintext' id='idperson"+i+"' value='"+person._id+"'></div><div class='form-group mx-sm-3 mb-2'><label for='inputPassword2' class='sr-only'>Password</label><input type='text' required value='"+person.name+"' class='form-control' id='nameChanged"+i+"' placeholder='Password'></div><button id='botonModify"+i+"' onclick='modifyName("+i+");' type='submit' class='btn btn-warning mb-2'>Update Name</button></form>";
                i++;
            });
            str += "</div>";
            document.getElementById("slideContainer").innerHTML = str;// Here we assign to a Div the result of the users
        });
    }

    function add_element(){//function to enter a new person in the system

        //1 is false
        // 0 is true

        if(localStorage.getItem('flagEnter') == 1){//validate if a request has not yet been sent to the server to enter a name

            localStorage.setItem('flagEnter',0);//we change the status when a first-time request is made

            fetch('https://api-meister.herokuapp.com/api/person',{//Thanks to the Api Fetch we again make a request to the server built to be able to save the new person
                method: 'POST',
                headers: {//we specify the headers
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({name: document.getElementById("nombre").value}) //we assign the value to the body
            })
            .then(res => res.json())
            .then(data => {  //Once the built server responds with a posiive state to the request, we enable  the button and load the new elements
                console.log(data.person._id);
                setTimeout(function(){//Here we wait 4 seconds for the user to change the name of the input
                    this.verifyNewEnterNames(data.person._id); // Here i Verify if the name value change 
                }, 4000);
            })
            .catch(function() {
                console.log('error in the server 105') //if there is a problem on the server we show it by console
            });

        }else{//if you have already entered a name for the first time and still have time to change it, we save the changes in a variable in the local storage
            localStorage.setItem('flagEnterNewName',0);
            localStorage.setItem('newName',document.getElementById("nombre").value);
        }

   }

   function verifyNewEnterNames(id){
       if(localStorage.getItem('flagEnterNewName') == 0){//here check if changes have been made in the fields entered. If so, we make a put request to the field entered for the first time
           fetch('https://api-meister.herokuapp.com/api/person/'+id,{ //Thanks to the Api Fetch we made the request for a modification of a registration
                method: 'PUT',
                headers: { //we declare the Headers
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({name: localStorage.getItem('newName')}) // we assign the new value to modify
            })
            .then(res => res.json())
            .then(dataPut => { //Once the server responds with a posiive state to the request, we enable  the button and load the new elements
                console.log(dataPut)
                this.charge_elements(); //Finally we load all elements
                document.getElementById("nombre").value = '';//Here I clean the variables in localStorage
                localStorage.removeItem('flagEnterNewName');
                localStorage.removeItem('newName');
                localStorage.setItem('flagEnter',1)
            })
            .catch(function() {
                console.log('error en el servidor 133')//if there is a problem on the server we show it by console
            });
       }else{//if no changes have been made, we make the normal process of loading the new fields to the list of names that are on the right
           this.charge_elements();
           document.getElementById("nombre").value = '';
       }

   }
   function get_elements(){ //Function used to obtein the records of people in the database

       const urlApi= 'https://api-meister.herokuapp.com/api/person' // Server Path
        return fetch(urlApi,{ //The Fetch API in JavaScript helps us access and manipulate parts of the HTTP channel, such as requests and responses.
            method: 'GET' //Method Get
        })
        .then(res => res.json())
        .then(data => {
            //console.log(data);
            console.log('entrego elements');
            return data.persons; // we return the value of the request
        })
        .catch(function() {
            console.log('error in the server'); //If there is an error in the request, we show it in the catch
        });
   }
   function modifyName(id){ //function that allows you to modify some badly entered record previously
       const formEnter = document.querySelector('#modify_Person'+id)//we get the "form" in which the modification is being made
       formEnter.addEventListener('submit', event => { //we get the event after submit button
            event.preventDefault();
            document.getElementById("botonModify"+id).disabled = true;// we disable the button modify
            fetch('https://api-meister.herokuapp.com/api/person/'+document.getElementById('idperson'+id).value,{ //Thanks to the Api Fetch we made the request for a modification of a registration
                method: 'PUT',
                headers: { //we declare the Headers
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({name: document.getElementById('nameChanged'+id).value}) // we assign the new value to modify
            })
            .then(res => res.json())
            .then(data => { //Once the built server responds with a posiive state to the request, we enable  the button and load the new elements
                console.log(data)
                document.getElementById("botonModify"+id).disabled = false; //we enable the button
                alert('Name Changed correctly'); // we send an alert to the user, that the registration has been modified correctly
                this.charge_elements(); //Finally we load all elements
            })
            .catch(function() {
                console.log('error en el servidor')//if there is a problem on the server we show it by console
            });
            event.target.reset(); //we clean the target
        })
   }
</script>